<h1 class="text-center text-white">Welcome to Radio Freedom news scraper!</h1>
<br/>
<div class="container main-container">
    <div id="articles">
        <table id="articlesTable" class="cell-border compact stripe">
            <thead>
                <tr>
                    <th> </th>
                    <th>Article name</th>
                    <th>Reading est.</th>
                    <th>Publication date</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                {{#each article}}
			    <tr data-id={{this.link}}>
                    <td class="details-control"><button>+</button></td>
                    <td><h5><a href='{{this.link}}'>{{this.title}}</a></h5>{{this.summary}}</td>
                    <td>{{this.readingTime}}</td>
                    <td>{{this.time}}</td>
                    <td><button class="save" id={{this._id}}>Save</button></td>
			    </tr>
		        {{/each}}
            </tbody>
            <tfoot>
                <tr>
                    <th> </th>
                    <th>Article name</th>
                    <th>Reading est.</th>
                    <th>Publication date</th>
                    <th> </th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<script>
    $(document).ready( function () {
        $('#articlesTable').DataTable( {
            responsive: true
        } );
        
        var table = $('#articlesTable').DataTable();

        $('#articlesTable tbody').on('click', '.details-control', function () {
            var tr = $(this).parents('tr');
            var row = table.row( tr );
            $.ajax({
                url: "/article-full",
                method: "POST",
                data: {
                link: tr.attr('data-id')
                }
            }).then(function(response){
                if ( row.child.isShown() ) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    // Open this row (the format() function would return the data to be shown)
                    if(row.child() && row.child().length)
                    {
                        row.child.show();
                    }
                    else {
                        var text = []
                        var videos = []
                        for(var i=1;i<response.length;i++) {
                            console.log(response[i])
                            if ((response[i] == 'No media source currently available') || (response[i] == '') || (response[i] == ' ')) {}
                            else if((response[i].length>10) && (response[i])){
                            text.push(response[i])
                            }
                            else {}
                        }
                        for(var j=0;j<response[0][0].videos.length;j++){
                            videos.push(response[0][0].videos[j])
                        }
                        for(var k=0;k<videos.length;k++) {
                            text.push('<div class="text-center"><iframe src="https://www.rferl.org/embed/player/0/'+videos[k]+'.html?type=video" frameborder="0" scrolling="no" width="427" height="240" allowfullscreen></iframe></div>')
                        }
                        row.child(text).show();
                    }
                    tr.addClass('shown');
                }
            })
        });
        $(document).on('click', '.save', function() {
                $.ajax({
                url: "/save-article/"+$(this).attr('id'),
                method: "PUT",
                data: {
                id: $(this).attr('id')
                }
                }).then(function(response){
                $(this).disabled = true
                console.log('saved')
                })
            })
    } );
</script>